.form {
  padding: 5rem;
  max-width: 45rem;
  margin: 2rem auto;
  border-radius: 4px;

  background: linear-gradient(180deg, #e9dd38, #dcb906);
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.form label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}

.form input {
  width: 100%;
  padding: 0.9rem;
  border: 1.5px solid #000000;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #000000;
  font-size: 1rem;
}
